/*general document settings*/
body {
    margin: 0;
}

/*button for new divs*/
#buttonNewDiv {
    position: relative;
    top:5px;
    left: 10px;
    width: 50px;
    height: 20px;
}

/*style for containers*/
.container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
}

/*style for draggable divs*/
.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
    /*flexbox*/
    display: flex;
    justify-content: space-between;
}

/*changes style while dragging*/
.draggable.dragging {
    opacity: .5;
}

.lockButton {
    /*properties*/
    height: 20px;
    width: 20px;
    /*background colour*/
    background-color: gray;
    /*changes cursor*/
    cursor: pointer;
}